@charset "utf-8";
/**
 * @desc   栅格简易版 百分比
 * @author 赵倩<54zhaoqian@gmail.com>
 * @date   2015-09-01 
 */
* {
  margin: 0;
  padding: 0;
}
.grid {
  margin-top: .4rem;
}
.grid div {
  min-height: 1.0rem;
}
.grid {
  width: 100%;
  zoom: 1;
  box-sizing: content-box;
}
.grid:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  overflow: hidden;
}
.col-1 {
  display: block;
  float: left;
  width: 8.33333333%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-2 {
  display: block;
  float: left;
  width: 16.66666667%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-3 {
  display: block;
  float: left;
  width: 25%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-4 {
  display: block;
  float: left;
  width: 33.33333333%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-5 {
  display: block;
  float: left;
  width: 41.66666667%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-6 {
  display: block;
  float: left;
  width: 50%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-7 {
  display: block;
  float: left;
  width: 58.33333333%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-8 {
  display: block;
  float: left;
  width: 66.66666667%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-9 {
  display: block;
  float: left;
  width: 75%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-10 {
  display: block;
  float: left;
  width: 83.33333333%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-11 {
  display: block;
  float: left;
  width: 91.66666667%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
.col-12 {
  display: block;
  float: left;
  width: 100%;
  background: yellowgreen;
  border: 1px solid #000;
  box-sizing: border-box;
}
